@model Factory.Models.Machine

<h4>Add a new Machine:</h4>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  <input type="submit" value="add a new Machine" />

}

<button>@Html.ActionLink("Show all Machines", "Index")</button>
