@model Factory.Models.Machine

<h2>Are you sure you want to delete @Model.MachineName?<h2>
<br>
<h4>
@using (Html.BeginForm())
{
    <div style="text-align: center;">
    <input type="submit" value="Delete" />
    </div>
}
<br>
<br>

<div class="view-nav">
<button>@Html.ActionLink("Back to Machine List", "Index")</button>
</h4>
</div>