@model Factory.Models.Machine
@using Factory.Models;
@using System.Collections.Generic;


<h2>Machine Details</h2>

<h3>Machine Name : @Model.MachineName</h3>


<button>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId})</button>
<button>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId}) </button>
<button>@Html.ActionLink("Back to Machine list", "Index")</button>