<div id="header">
<div id="header-text">
  <h1>Dr.SillyStringz Factory</h1>
  <h4><em>Where being <strong>silly</strong> is is <strong>serious</strong> business!</em><h4>
  </div>
  <div id="header-navigation">
    <button>@Html.ActionLink("Home", "Index", "Home")</button>
    <button>@Html.ActionLink("Engineers", "Index", "Engineers")</button>
    <button>@Html.ActionLink("Machines", "Index", "Machines")</button>
  </div>
  <br />
</div>

